body{
    background-color: darkslategray;
    text-align: center;
    color: salmon;
}

h1{
    font-size: 300%;
    margin-top: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rosybrown;
}

li {
    float: right;
	color: lightslategray;
}

li a {
    display: inline-block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: peru;
}

.container {
    position: relative;
    text-align: center;
    color: honeydew;
  }

  .centered{
	align-content: flex-end;
	color: whitesmoke;
  }

  header{
    font-size: 150%;
  }

  h2, p, h3, h4 {
      color: antiquewhite;
      
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* cele 3 coloanele sa fie una langa cealalta*/
  .column {
    flex: 30%;
    max-width: 30%;
    padding: 0 8px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  

  /*pt login */
  form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: darkgoldenrod;
  color: antiquewhite;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

.buton{
  background-color: darkgoldenrod;
  color: antiquewhite;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.buton:hover{
  opacity: 0.8;
}

.container {
  padding: 7px;
	
}

span.psw {
  float: right;
  padding-top: 16px;
}

.poza{
  position: relative;
    text-align: center;

}


.text{
position: sticky;
}

.changedColor{
  color: white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media only all and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  h1{
    flex-direction: row;
  }
 
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only all and (min-width: 768px) and (max-width: 1280px) {
  .column {
    flex: 100%;
   /* max-width: 100%; */
  }
  h1{
    flex-direction: row;
  }


}

@media all and (min-widt: 1280px) {
  span.psw {
    display: block;
    float: none;
 }
 .cancelbtn {
    width: 100%;
 }
 h1{
  flex-direction: row;
 }



}
